---
const {title , href} = Astro.props
---


<a href={href} class="flex items-center w-fit  gap-2 bg-primary py-2.5 px-3 rounded-full text-black font-semibold">
    <slot name="icon"/>
    {title}
</a>