---
---

<nav class="absolute top-10  w-full">
    <div class="flex items-center justify-between mx-6">
        <img src="/logo_rand.png" alt="Logo de la empresa" class="h-fit w-40">
    
        <ul class="hidden">
            <li>Inicio</li>
            <li>Nosotros</li>
            <li>Servicios</li>
            <li>Contacto</li>
        </ul>
    
    
        <div class="">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
        </div>
    </div>
</nav>

