---
import CtaFreeConsulting from '../components/ctaFreeConsulting.astro'
---

<nav class="fixed top-0 left-0 right-0 z-50 w-full py-7 transition-colors duration-300" id="mainNav">
    <div class="mx-auto px-6">
      <div class="flex items-center justify-between w-full max-w-screen-xl mx-auto">
        <img src="/logo_rand.png" alt="Logo de la empresa" class="h-auto w-40">
        
        <div id="menuOverlay" class="fixed inset-0 bg-black bg-opacity-15 z-40 hidden"></div>
        
        <ul id="mobileMenu" class="flex flex-col gap-5 items-center text-white text-lg font-semibold fixed top-0 right-[-100%] bg-opacity-10 backdrop-blur-[8px] bg-[#1a1a1a] min-h-screen max-w-[290px] w-[290px] transition-all duration-300 ease-in-out z-50 lg:static lg:min-h-fit lg:flex-row lg:w-full lg:max-w-max lg:backdrop-blur-0">
          <li class="mt-44 lg:m-0"><a href="/" class="hover:text-gray-300">Inicio</a></li>
          <li><a href="/services" class="hover:text-gray-300">Nosotros</a></li>
          <li><a href="#" class="hover:text-gray-300">Servicios</a></li>
          <li><a href="#" class="hover:text-gray-300">Contacto</a></li>
          <li class="">
            <CtaFreeConsulting/>
          </li>
        </ul>

        
        
        <button id="menuToggle" class="z-50 relative w-8 h-8 focus:outline-none lg:hidden">
          <span class="sr-only">Toggle Menu</span>
          <div class="block w-8 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <span aria-hidden="true" class="block absolute h-0.5 w-6 bg-white transform transition duration-300 ease-in-out" :class="{'rotate-45': open, ' -translate-y-1.5': !open }"></span>
            <span aria-hidden="true" class="block absolute h-0.5 w-6 bg-white transform transition duration-300 ease-in-out" :class="{'opacity-0': open } "></span>
            <span aria-hidden="true" class="block absolute h-0.5 w-6 bg-white transform transition duration-300 ease-in-out" :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
          </div>
        </button>
      </div>
    </div>
  </nav>
  
  <script>
    const nav = document.getElementById('mainNav');
    const menuToggle = document.getElementById('menuToggle');
    const mobileMenu = document.getElementById('mobileMenu');
    const menuOverlay = document.getElementById('menuOverlay');
    let isOpen = false;
  
    window.addEventListener('scroll', () => {
      if (window.scrollY > 30) {
        nav.classList.add('bg-secondary');
      } else {
        nav.classList.remove('bg-secondary');
      }
    });
  
    function toggleMenu() {
      isOpen = !isOpen;
      if (isOpen) {
        mobileMenu.style.right = '0';
        menuToggle.classList.add('open');
        menuOverlay.classList.remove('hidden');
      } else {
        mobileMenu.style.right = '-100%';
        menuToggle.classList.remove('open');
        menuOverlay.classList.add('hidden');
      }
    }
  
    menuToggle.addEventListener('click', toggleMenu);
  
    menuOverlay.addEventListener('click', (event) => {
      if (event.target === menuOverlay) {
        toggleMenu();
      }
    });
  
    // Cierra el menú si se presiona la tecla Escape
    document.addEventListener('keydown', (event) => {
      if (event.key === 'Escape' && isOpen) {
        toggleMenu();
      }
    });
  </script>
  
  <style>
    .bg-[#2e313e] {
      background-color: #2e313e;
    }
  
    #menuToggle span:first-child {
      transform: translateY(-6px);
    }
  
    #menuToggle span:last-child {
      transform: translateY(6px);
    }
  
    #menuToggle.open span:first-child {
      transform: rotate(45deg);
    }
  
    #menuToggle.open span:nth-child(2) {
      opacity: 0;
    }
  
    #menuToggle.open span:last-child {
      transform: rotate(-45deg);
    }
  </style>