---
import Footer from '@components/Footer.astro';
import Navbar from '@components/navbar.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title='Aviso de Privacidad'>   
    <section class="img__hero flex items-center justify-center">
        <div class="text-white mx-6 pb-48 pt-52 flex flex-col items-center gap-5 text-center text-balance max-w-screen-xl">
            <h1 class="font-semibold text-4xl lg:text-5xl">AVISO DE<br/>PRIVACIDAD DE CLIENTES</h1>
            <div class="h-0.5 w-7/12 bg-yellow-400 rounded-full max-w-[400px]"></div>
        </div>
    </section>

    <section class="w-full flex items-center justify-center bg-white">
        <div class="max-w-screen-xl mx-6 py-16 w-full space-y-8">
            <div>
                <h2 class="font-bold text-[#666866]">Responsable del tratamiento</h2>
                <p class="text-gray-600 mt-2">El responsable del tratamiento de sus datos personales es la persona moral CONMALAFI S.C. (en lo sucesivo "Rand Abogados") con domicilio para oír y recibir cualquier tipo de notificaciones el ubicado en Calle Viveros de Tlalnepantla, Número Exterior 71, Local B1, Colonia Viveros de la Loma, Municipio Tlalnepantla de Baz, Código Postal 54080, Estado de México.</p>
            </div>

            <div>
                <h2 class="font-bold text-[#666866]">Puesta a disposición del Aviso de Privacidad</h2>
                <p class="text-gray-600 mt-2">Usted puede consultar en cualquier momento nuestro Aviso de Privacidad en la página de internet rand.com.mx y/o en cualquiera de nuestras oficinas.</p>
                <p class="text-gray-600 mt-2">Rand Abogados tiene el compromiso de brindarle toda aquella información necesaria para garantizar que usted tenga pleno control sobre el tratamiento de sus datos personales.</p>
            </div>

            <div>
                <h2 class="font-bold text-[#666866]">Finalidad</h2>
                <p class="text-gray-600 mt-2">La principal finalidad para la cual Rand Abogados trata sus datos personales es para:</p>
                <ul class="text-gray-600 mt-2 list-disc pl-6 space-y-1">
                    <li>Proveerle aquellos servicios derivados de cualquier contrato de prestación de servicios que suscriba con Rand Abogados.</li>
                    <li>Integrar sus datos a un expediente interno como cliente.</li>
                    <li>Cumplir con nuestras obligaciones legales y profesionales.</li>
                    <li>Mantenerlo informado respecto del seguimiento de los asuntos encomendados.</li>
                    <li>Informar sobre cambios en nuestros servicios.</li>
                    <li>Para todos los servicios que sean requeridos o solicitados y que son proporcionados por Rand Abogados.</li>
                </ul>
            </div>

            <div>
                <h2 class="font-bold text-[#666866]">Finalidades necesarias y minimización de datos personales</h2>
                <p class="text-gray-600 mt-2">Rand Abogados, en cumplimiento a los principios de proporcionalidad y minimización, únicamente recaba y hace uso legítimo de los datos personales adecuados, necesarios y relevantes para la prestación de los Servicios, así como para cumplir con las finalidades del tratamiento informadas en el presente Aviso de Privacidad.</p>
                <p class="text-gray-600 mt-2">Por ningún motivo Rand Abogados tratará los datos personales para finalidades distintas o que no resulten compatibles con las informadas en el presente Aviso de Privacidad ni obtendrá datos que no cumplan con los criterios anteriormente señalados.</p>
            </div>

            <div>
                <h2 class="font-bold text-[#666866]">¿Qué datos personales utilizaremos para estos fines?</h2>
                <p class="text-gray-600 mt-2">Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales:</p>
                <ul class="text-gray-600 mt-2 list-disc pl-6 space-y-1">
                    <li>Nombre</li>
                    <li>Registro Federal de Contribuyentes (RFC)</li>
                    <li>Clave Única de Registro de Población (CURP)</li>
                    <li>Domicilio</li>
                    <li>Teléfono particular</li>
                    <li>Correo Electrónico Personal</li>
                    <li>Firma Autógrafa</li>
                    <li>Firma Electrónica</li>
                    <li>Correo Electrónico Empresarial</li>
                    <li>Teléfono Empresarial</li>
                    <li>Historial crediticio</li>
                </ul>
            </div>

            <div>
                <h2 class="font-bold text-[#666866]">Datos personales sujetos a tratamiento y medios de obtención</h2>
                <p class="text-gray-600 mt-2">Los datos personales que se describieron en el punto anterior serán obtenidos de diversas fuentes lícitas que incluyen los siguientes medios de obtención:</p>
                <ul class="text-gray-600 mt-2 list-disc pl-6 space-y-1">
                    <li>Datos que Usted nos proporciona directamente.</li>
                    <li>Datos que nos proporcionen las autoridades.</li>
                    <li>Datos que obtenemos de terceros autorizados por usted.</li>
                </ul>
            </div>

            <div>
                <h2 class="font-bold text-[#666866]">Datos personales de terceras personas y medios de obtención</h2>
                <p class="text-gray-600 mt-2">Rand Abogados podrá dar tratamiento a datos personales de identificación y contacto de terceros cuando usted nos proporcione directamente esta información para que dichos terceros sean contactados en su calidad de referencias personales para fines de cobranza, prospección comercial, realizar investigaciones, actividades de verificación de veracidad de la información proporcionada por usted, monitoreos periódicos respecto de su historial crediticio, para que realice en su nombre diversas gestiones relacionadas con los Servicios y/o para el cumplimiento de las obligaciones jurídicas adquiridas por usted.</p>
                <p class="text-gray-600 mt-2">Al proporcionar esta información usted reconoce haber informado debidamente y haber obtenido de forma previa el consentimiento de dichos terceros para que Rand Abogados pueda dar tratamiento para los fines antes señalados.</p>
            </div>

            <div>
                <h2 class="font-bold text-[#666866]">Datos personales de menores de edad</h2>
                <p class="text-gray-600 mt-2">Bajo ninguna circunstancia Rand Abogados recaba información directamente de menores de edad por lo que, de ser necesario, dicha información deberá ser proporcionada, en su caso, por el padre, tutor y/o persona que ejerza la patria potestad. En aquellos casos en los que Rand Abogados identifique que una persona menor de edad ha proporcionado su información personal y/o que la persona que proporciona los datos personales no es la persona que ejerce la patria potestad de un menor de edad, para fines relacionados con la provisión de los Servicios, Rand Abogados procederá a la cancelación de dicha información.</p>
            </div>

            <div>
                <h2 class="font-bold text-[#666866]">Finalidades del tratamiento</h2>
                <p class="text-gray-600 mt-2">Rand Abogados limitará el uso de los datos personales mencionados en el presente Aviso de Privacidad para llevar a cabo alguna o todas las actividades necesarias para el desarrollo y cumplimiento de las obligaciones que se originen de la prestación de los Servicios, lo cual comprende las siguientes finalidades:</p>
                <ul class="text-gray-600 mt-2 list-disc pl-6 space-y-1">
                    <li>Verificar ante el Instituto Nacional Electoral (INE) la veracidad de los datos contenidos en su Credencial para Votar.</li>
                    <li>Llevar a cabo procesos para fines de seguridad y prevención de conductas ilícitas como fraude y/o robo de identidad.</li>
                    <li>Contactarle sin fines de prospección comercial, a través de diversos medios electrónicos como llamadas telefónicas, correos electrónicos, mensajes de texto y demás medios de comunicación físicos y/o electrónicos, así como con visitas domiciliarias realizadas por Rand Abogados o terceros autorizados por Rand Abogados.</li>
                    <li>Validar la veracidad de la información proporcionada por usted y/o por terceros autorizados.</li>
                    <li>Realizar gestiones de facturación y cobranza y/o procesar pagos a través de las formas y mecanismos habilitados para ello.</li>
                    <li>Investigaciones y monitoreo periódicos sobre su comportamiento crediticio.</li>
                    <li>Cotizar y gestionar bienes y/o servicios y/o aplicaciones propias y/o de terceros y/o Empresas del Grupo.</li>
                    <li>Dar cumplimiento a obligaciones previstas en la normatividad aplicable.</li>
                </ul>
            </div>

            <div>
                <h2 class="font-bold text-[#666866]">Transferencia de datos no sujeta a consentimiento</h2>
                <p class="text-gray-600 mt-2">Rand Abogados podrá transferir sus datos personales tanto a entidades nacionales como extranjeras, sin requerir su consentimiento para los siguientes fines:</p>
                <ul class="text-gray-600 mt-2 list-disc pl-6 space-y-1">
                    <li>A autoridades competentes en los casos legales.</li>
                    <li>Al Instituto Nacional Electoral (INE) para verificar la veracidad de los datos contenidos en su Credencial para Votar.</li>
                    <li>A sociedades de información crediticia para garantizar el cumplimiento de las obligaciones derivadas de los Servicios adquiridos o contratados.</li>
                </ul>
            </div>

            <div>
                <h2 class="font-bold text-[#666866]">Medio y procedimiento para ejercer Derechos ARCO y/o revocación de consentimiento para el tratamiento de datos personales</h2>
                <p class="text-gray-600 mt-2">Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos, las condiciones del uso que les damos y a obtener una copia de los mismos en un formato legible y de fácil lectura (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestras bases de datos cuando sea procedente (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como Derechos ARCO.</p>
                <p class="text-gray-600 mt-2">Para el ejercicio de cualquiera de los Derechos ARCO, así como para revocar su consentimiento para el tratamiento de sus datos personales, deberá enviar un correo electrónico a la dirección -contacto@rand.com.mx- donde se le atenderá en tiempo y forma.</p>
            </div>

            <div>
                <h2 class="font-bold text-[#666866]">Opciones y medios para limitar el uso o divulgación de sus datos personales</h2>
                <p class="text-gray-600 mt-2">Usted podrá limitar el uso o divulgación respecto de la parcialidad o totalidad de los datos personales sujetos a tratamiento informados en el presente Aviso de Privacidad enviando su solicitud a la dirección contacto@rand.com.mx.</p>
            </div>

            <div>
                <h2 class="font-bold text-[#666866]">INAI</h2>
                <p class="text-gray-600 mt-2">En caso de considerarlo necesario, le informamos que tiene el derecho de acudir ante el Instituto Nacional de Transparencia Acceso a la Información y Protección de Datos Personales (INAI) para hacer valer cualquier inconformidad relacionada con el tratamiento de sus datos personales por parte de Rand Abogados.</p>
            </div>

            <div>
                <h2 class="font-bold text-[#666866]">Cambios al presente Aviso de Privacidad</h2>
                <p class="text-gray-600 mt-2">Rand Abogados se reserva el derecho, bajo su exclusiva discreción, de cambiar, modificar, agregar o eliminar partes del presente Aviso de Privacidad. En tal caso, Rand Abogados mantendrá su Aviso de Privacidad Integral vigente en el sitio web rand.com.mx. Rand Abogados le notificará cualquier cambio o modificación del presente a través de la publicación en su página web. En caso de ser legalmente necesario, Rand Abogados recabará su consentimiento para el tratamiento de sus datos personales.</p>
            </div>

            <div class="text-end">
                <p class="font-bold text-[#666866] mt-2"> 6 de septiembre de 2024</p>
            </div>
        </div>
    </section>    
</Layout>

<style>
    .img__hero {
        background-image: linear-gradient(180deg, #12121298 34%, #1c1c1c), url(/Hero_img.webp);
        background-size: cover;
        background-position: center;
    }
</style>