---
import CtaFreeConsulting from "@components/ctaFreeConsulting.astro";
---

<section class="py-36 bg-[#f9f9f9] flex items-center justify-center">
    <div class="mx-6 flex flex-col gap-14 md:flex-row max-w-screen-xl w-full ">
        <aside class="flex flex-col gap-8 w-full ">
            <h2 class="uppercase flex flex-col text-3xl lg:text-4xl">Abogados en <strong class="text-[#2d2e3e]">derecho administrativo</strong></h2>
            <img src="/image.png" alt="" class="w-fit rounded-xl">
            <p class="max-w-[588px]">Te ayudamos a proteger tu patrimonio previniendo riesgos que podrían derivar en costosos juicios. Nos comprometemos a cuidar tus intereses de manera responsable y con total apego a la ley, garantizando tu tranquilidad y seguridad financiera.</p>
            <CtaFreeConsulting/>
        </aside>
        <aside class="w-full">
            <img src="/img_test.png" alt="" class="min-h-full rounded-xl md:w-full bg-cover bg-center object-cover lg:h-[10rem]">
        </aside>
    </div>
</section>