---

---

<section class="img__hero min-h-screen flex items-center justify-center">

    <div class="text-white mx-6 py-48 pt-60 flex flex-col items-center gap-5 text-center text-balance max-w-screen-xl">
        <h1 class="font-semibold text-4xl">Abogados expertos en asesorias jurídicas en México</h1>
        <div class="h-0.5 w-7/12 bg-yellow-400 rounded-full max-w-[400px]"></div>
        <p class="font-medium text-balance">Somos una firma con 24 años de experiencia, expertos en abordar situaciones legales complejas con eficacia. Confía en nuestros abogados para una asesoría integral y cumplimiento normativo.</p>
        
        <div class="flex flex-wrap justify-center mt-5  items-center gap-8">
            <button class="bg-yellow-400 py-2.5 px-6 rounded-md flex items-center gap-2 text-black font-semibold">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-phone-call"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /><path d="M15 7a2 2 0 0 1 2 2" /><path d="M15 3a6 6 0 0 1 6 6" /></svg>
                asesoría gratuita
            </button>
            <button class="flex items-center gap-3 border-2 border-transparent py-2.5 px-6 rounded-md transition-all duration-300 hover:border-yellow-400 ">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
                Conocer servicios
            </button>
        </div>
    </div>


</section>


<style>

    .img__hero {
        background-image: linear-gradient(180deg, #121212ba 34%, #1c1c1c), url(/Hero_img.webp);
        background-size: cover;
        background-position: center;
    }

</style>