---
import CtaFreeConsulting from "../components/ctaFreeConsulting.astro"
---

<section class="img__hero min-h-screen flex items-center justify-center">

    <div class="text-white mx-6 pb-48 pt-52  flex flex-col items-center gap-5 text-center text-balance max-w-screen-xl">
        <h1 class="font-semibold text-4xl lg:text-5xl">Abogados expertos en asesorias jurídicas en México</h1>
        <div class="h-0.5 w-7/12 bg-yellow-400 rounded-full max-w-[400px]"></div>
        <p class="font-medium text-balance max-w-[780px]">Somos una firma con 24 años de experiencia, expertos en abordar situaciones legales complejas con eficacia. Confía en nuestros abogados para una asesoría integral y cumplimiento normativo.</p>
        
        <div class="flex flex-wrap justify-center mt-5  items-center gap-8">
            
            <button class="flex items-center gap-3 border-2 border-transparent py-2.5 px-6 rounded-full mt-4 border-secondary transition-all duration-300 hover:border-yellow-400 ">
                Nuestros servicios
                <div class="rotate-90">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
                </div>
            </button>
        </div>
    </div>


</section>


<style>

    .img__hero {
        background-image: linear-gradient(180deg, #121212ba 34%, #1c1c1c), url(/Hero_img.webp);
        background-size: cover;
        background-position: center;
    }

</style>