---
import CtaFreeConsulting from "../components/ctaFreeConsulting.astro";
---

<section class="bg-[url(/bg_pixels.webp)] flex justify-center">
    <div class="py-40 w-full max-w-screen-xl mx-6 flex flex-col gap-8 md:flex-row justify-between">
        <h2 class="uppercase flex flex-col text-3xl lg:text-4xl"><strong class="text-[#2d2e3e]">Experiencia</strong> Legal Rand</h2>
        <div class="flex flex-col gap-4 md:w-2/4 md:text-balance">
            <p class="font-medium text-balance max-w-[780px]">Con 24 años de experiencia en el ámbito legal, RAND® se ha consolidado como una firma líder en brindar soluciones jurídicas innovadoras y efectivas.</p>
            <p class="font-medium text-balance max-w-[780px]">Desde nuestra fundación, hemos trabajado incansablemente para defender los intereses de nuestros clientes y mantenernos a la vanguardia del sector.</p>
            <CtaFreeConsulting title="Contáctanos">
                <!-- <slot name="icon"/> -->
            </CtaFreeConsulting>
        </div>
    </div>
</section>