---
import VisionMisionComponent from "@components/VisionMisionComponent.astro";
---

<section class="flex justify-center">
    <div class="py-32 w-full max-w-screen-xl mx-6 flex flex-col gap-10">
        
        <div class="md:pr-20 w-full h-full">
            <VisionMisionComponent title="Misión" description="Ser una empresa preparada para brindar asistencia a nuestros clientes ante cualquier caso de materia legal, contable, administrativa, laboral, entre otras, mediante alternativas integrales con certeza jurídica."/>
        </div>

        <div class="md:pl-20">
            <VisionMisionComponent title="Visión" description="Consolidar nuestro prestigio como una empresa innovadora que cuenta con el más amplio portafolio de soluciones integrales en materia legal, contable, administrativa y laboral."/>
        </div>

    </div>
</section>